.title{
    text-align: center;
    text-transform: uppercase;
    margin: 2rem 0;
    color: #545bba;
}
.box-container{
    padding: 2% 8%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(18rem,1fr));
    justify-content: center;
    align-items: center;
}
.box-container .box{
    box-shadow: var(--box-shadow);
    padding: 1rem 0;
    background: var(--white-alpha-25);
    border: 2px solid var(--white-alpha-40);
    margin: 1rem;
    text-align: center;
    border-radius: 5px;
}
.box-container .box h3{
    font-size: 3rem;
    color: #545bba;
}
.box-container .box p{
    font-size: 18px;
    text-transform: capitalize;
    margin: 1rem 0;
}
