
.title{
    text-align: center;
    text-transform: uppercase;
    margin: 2rem 0;
    color: #545bba;
}
.box-container{
    padding: 2% 8%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(18rem,1fr));
    justify-content: center;
    align-items: center;
}
.box-container .box{
    box-shadow: var(--box-shadow);
    padding: 1rem 0;
    background: var(--white-alpha-25);
    border: 2px solid var(--white-alpha-40);
    margin: 1rem;
    text-align: center;
    border-radius: 5px;
}
.box-container .box h3{
    font-size: 3rem;
    color: #545bba;
}
.box-container .box p{
    font-size: 18px;
    text-transform: capitalize;
    margin: 1rem 0;
}



/*----------add product page----------*/
.add-products,
.show-products,
.update-container
{
   background-image: url("image/download2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.add-products form{
    width: 50vw;
    margin: 2rem auto;
    background: #574848;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: 1px solid #a911e6;
}
.add-products form label{
    text-transform: capitalize;
    color: var(--pink);
}
.add-products form textarea{
    height: 200px;
}
.add-products h1{
    text-align: center;
    text-transform: uppercase;
    color: #545bba;
    margin: 1rem;
}
.show-products .box_container{
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
}
.show-products .box_container .box{
    background:#1b1a1a;
}
.edit,
.delete{
    margin: .5rem;
    text-transform: capitalize;
    color: #7a1111;
    background: var(--pink);
    padding: .5rem 2rem; 
    border-radius: 5px;
}
.edit:hover,
.delete:hover{
    color: var(--pink);
    background: transparent;
    border:  2px solid var(--pink);
}
.show-products .box.detail{
    font-size: px;
}
.show-products.box image{
    width: 50%;
}
.show-products.box h3{
    text-transform: capitalize;
}
.update-container{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    background-image: url(image/bg3s.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background: #fff;
    z-index: 1100;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    display: none;
}
.update-container form{
    box-shadow: var(--box-shadowd);
    width: 50%;
    background: #fff;
    padding: 1rem;
    margin: 2rem auto;
    text-align: center;
}
.update-container.edit,
.update-container.btn{
    width: 40%;
    cursor: pointer;
}
.update-container form img{
    width: 60%;
}
/*----------order container-------*/

.order-container{
    padding: 3% 7%;
}

.order-container .box-container{
    grid-template-columns: 1fr 1fr ;
    justify-content: center;
    align-items: flex-start;
}
.order-container  .box p{
    margin-bottom: .5rem;
    text-transform: capitalize;
    color: purple;
}
.order-container .box span{
    color: #555;
}
.order-container form{
    text-align: center;
}
.order-container form select{
    width: 100%;
    margin: 1rem 0;
    padding: .5rem 0;
    cursor: pointer;
}
.order-container form  input{
    box-shadow: none;
    width: 40%;
}
.box-container.delete{
    padding:.6rem 12% ;
}
.user_container .box-container,
.message_container.box-container{
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1rem));
}
.user_container.box-container.box{
    padding-bottom: 3rem;
}
.update-container.box-container.box span{
   color: var(--pink);
}
.update-container.box-container.box p:nth-child(4){
    margin-bottom: 2rem;
}
