/*-------------------wishlist page-------------*/
.disabled{

    pointer-events: none;
    opacity: .5;
}
.wishlist_total{
    max-width: 1200px;
    box-shadow: var(--box--shadow);
    margin: 2rem auto;
    border: 1px solid gainsboro ;
    text-align: center;
    padding: 3rem 0;
    line-height: 2;
    text-transform: capitalize;

}
.wishlist_total p{
     font-size: 1.5rem;
}
.wishlist_total a{
    text-transform: capitalize;
    font-size: 16px;
    margin-right: 2rem;
}

.qty{
    display: flex;
    justify-content: space-between;
}
.qty input[type='number']{
   width: 35%;
}
.qty input[type='submit']{
    width: 55%;
    cursor: pointer;
    background: var(--pink);
    box-shadow: none;
    color: #fff;
}
.empty img{
    width: 20%;
}